#para1 {
   font-family: "Comic Sans MS";
}

#para2 {
   font-family: "courier new";
}

.fiftyFiftyPic {
   height: 50px;
   width: 50px;
}

#extra {
   font-size: 18pt;
   font-style: bold;
   text-shadow: 5px 5px 4px red;
}

.container {
  position: relative;
  text-align: center;
  width: 300px;
}

#puppy {
   width: 300px;
}

.topMid {
  position: absolute;
  left: 100px;
  top: 8px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 18pt;
}

#marginPic {
   margin: 20px;
   width: 300px;
}

#dottedBorderText {
   border: 2px dotted;
   width: 300px;
}

#floatButton {
   float: right;
}

#roundedCorners {
   border: 2px solid black;
   width: 300px;
   text-align: center;
   border-radius: 50px;
}